<style>
     .spin {
      display: block;
      position: relative;
      left: 56%;
      width: 149px;
      height: 140px;
      top: 128px;
      margin: 200px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      -webkit-animation: spin 1s both infinite;
      animation: spin 1s both infinite;
    }

    /* middle */
    .spin::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;

      -webkit-animation: spin 1s linear infinite;
      /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1s linear infinite;
      /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    /* inner */
    .spin::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 15px;
      right: 15px;
      bottom: 51px;
      border-radius: 50%;
      border: 3px solid transparent;

      -webkit-animation: spin 1s linear infinite;
      /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1s linear infinite;
      /* Chrome, Firefox 16+, IE 10+, Opera */
    }


    @keyframes spin {
      0% {
        -webkit-transform: rotateX(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotateX(0deg);
        /* IE 9 */
        transform: rotateX(0deg);
        /* Firefox 16+, IE 10+, Opera */
      }

      100% {
        -webkit-transform: rotateY(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotateY(360deg);
        /* IE 9 */
        transform: rotateY(360deg);
        /* Firefox 16+, IE 10+, Opera */
      }
    }

    #overlayer {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 10;
      left: 10;
      right: 10;
      bottom: 10;
      z-index: 2;
      background: rgba(86, 79, 79, 0.692);
    }

    i {
      font-size: 1.2em;
    }
</style>
<div id="overlayer" style="display:none">
    <img src="assets/images/miniLogo.jpg" class="spin">
    <div class="loader">
      <span class="loader-inner"></span>
    </div>
  </div>